.center {
    text-align: center;
}

img.product-grid-image {
    max-width: 100px;
}
.dz-image img {
    max-width: 100%;
    max-height: 100%;
}

ul li {
    list-style-type: none;
}

.form-group>ul {
    padding-left: 0;
}

.form-group .categories-list {
    font-size: 18px;
}

#categories-grid-block {

}

#categories-grid-block > ul {
    padding-left: 20px;
}

#categories-grid-block ul {
    font-size: 16px;
}

#categories-grid-block ul > li{

}
#categories-grid-block ul > li > span.category-id{
    font-size: 14px;
    margin-right: 10px;
}
#categories-grid-block ul > li > a{
    margin-left: 10px;
}
